body {
    font-family: 'Poppins',
        sans-serif;
    margin: 0 auto;
}

/* Header starts */
.header-start {
    background-color: rgb(45, 37, 160);

}

header {
    padding-top: 42px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 156px;
    margin-right: 124px;
    margin-bottom: 49px;

}

header ul {
    display: flex;
    list-style: none;
}

header ul li {
    margin-right: 36px;
}

header ul li a {
    color: white;
    padding: 0 10px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-decoration: none;
}

.login-icon button {
    padding: 10px 24px;
    background-color: #e02c6d;
    border: none;
}

.login-icon a {
    color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
}

.login-icon i {
    padding: 0 8px;

}

/* Header Ends */
/* Top Banner Start */
.top-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 156px;
    margin-right: 141px;
}

.banner-text h1 {
    color: white;
    margin-left: 50px;
    margin-right: 102px;
    margin-top: 121px;
    margin-bottom: 27px;
    font-weight: bold;
    font-size: 45px;
    line-height: 80px;
}

.banner-img img {
    width: 556px;
    height: 438px;
    margin-bottom: 86px;

}

.banner-text button {
    margin-left: 50px;
    margin-right: 200px;
    margin-bottom: 169px;
    padding: 10px 24px;
    background-color: #e02c6d;
    border: none;
}

.banner-text button a {
    color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
}

.banner-text i {
    padding: 0 8px;

}

/* banner end */
/* player blog start */
.player-blog {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
    margin-top: 70px;
    margin-bottom: 165px;
    margin-left: 180px;
    margin-right: 210px;

}

.player-info {
    padding: 15px 15px 33px;
    box-shadow: 5px 3px 6px 3px rgb(133, 130, 130);
    border-radius: 10px;
}

.player-info img {
    width: 300px;
    height: 256px;
}

.player-info h3 {
    margin-top: 16px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 28px;
    line-height: 40px;
}

/* player blog end */
/* partner info start */
.partner-info {
    margin-bottom: 60px;
    text-align: center;
}

.partner-text h1 {
    margin-bottom: 40px;
}

.grid-photo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 50px;
    justify-content: space-between;
    align-items: center;
}

.partner-logo img {
    width: 200px;
    height: 80px;

}

/* partner info end */
/* copa highlights start */
.copa-allinfo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 66px;
    justify-content: space-between;
    align-items: center;
    margin-left: 150px;
    margin-right: 100px;
    margin-bottom: 158px;
}

.copa-text h1 {
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
}

.copa-text p {
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
}

.copa-text button {
    padding: 10px 24px;
    background-color: #e02c6d;
    border: none;
}

.copa-text button a {
    color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
}

.copa-text i {
    padding: 0 8px;

}

.show-image img {
    width: 500px;
    height: 400px;
}

/* copa highlights ends */
/* f logo start */